.navbar {
    display: flex;
    background-color: antiquewhite;
}

.navbarItems {
    display: flex;
    margin: 15px;
}

.navbarItemsRight {
    margin-left: auto;
}

.navLink {
    padding: 8px;
}

a  {
    text-decoration: none;
    color: blueviolet;
}

img {
    height: 65px;
    width: 75px;
}

.navbarLinkToggle {
    display: none;
}





@media only screen and (max-width:768px) {
    .navbar, .navbarItems {
        display: block;
    }

    .navbarItemsRight {
        margin-left: 0;
    }
    
    .navbarItems {
        display: none;
    }

    .navbarLinkToggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    .navbarToggleShow {
        display: flex;
    }
}