.navbar {
    display: flex;
    background-color: aquamarine;
}

.navbarItems {
    display: flex;
}

.navbarItemsRight {
    margin-left: auto;
}

.navbarLinkToggle {
    display: none;
}


@media only screen and (max-width: 768px) {
    .navbar, .navbarItems {
        flex-direction: column;
    }

    .navbarItems {
        margin-left: 0;
        display: none;
    }

    .navbarLinkToggle {
        display: initial;
        position: absolute;
        align-self: flex-end;
        cursor: pointer;
    }

    .navbarToggleShow {
        display: flex;
    }
}











.navbarLink {
    padding: 8px;
}

a {
    padding: 8px;
}


img {
    height: 45px;
    width: 65px;
}


