@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variáveis CSS */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --line-height: 1.5rem;
    --primary-color: #EC268F;
    --secondary-color: #ea2027;
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Nav */

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 2px #261e1c;
    gap: 1rem;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    display: flex;
    width: 90px;
    margin-right: 90px;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu {
    display: flex;
    gap: 5px;
    vertical-align: center;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    vertical-align: center;
    font-weight: var(--bold-font);
    display: flex;
    gap: 6px;
}

#conta:hover img{
    content: url(../icons/conta-black.png);
    width: 30px;
}

#suporte:hover img{
    content: url(../icons/suporte-black.png);
    width: 30px;
}

#carrinho:hover img{
    content: url(../icons/carrinho-black.png);
    width: 30px;
}

a:hover {
    cursor: pointer;
    color: #261e1c;
}

/* Theme Switcher */

.checkbox {
    opacity: 0;
    position: absolute;
}

label {
    width: 50px;
    height: 30px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 6px;
    position: relative;
}

.moon {
    color: #ffa502;
}

.sun {
    color: #ff4757;
}

.switcher {
    background-color: #fff;
    position: absolute;
    top: 5px;
    left:  2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.checkbox:checked + .label .switcher {
    transform: translateX(23px)
}

/* End Theme Switcher */

/* End Nav */

/* Section - 1 */

.firstSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 1rem  ;
    max-width: 1300px;
    border: 1px solid black;
}

.intro-text {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding: 10px;
}

.button {
    display: flex;
    justify-content: center;
}

.intro-text img {
    max-width: 250px;
}

.intro-text span {
    font-size: 3rem;
}

.intro-text p {
    line-height: var(--line-height);
}

.btn {
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.5rem;
    border: none;
    font-size: 1.4rem;
    border-radius: 5px;
    color: #fff;
}

.red {
    background-color: var(--secondary-color);
    margin-right: 1.5rem;
}

.blue {
    background-color: var(--primary-color);
}

.red:hover {
    background-color: #f1262d;
    color: #fff;
}

.blue:hover {
    background-color: #095cf7;
    color: #fff;
}

/* End Section - 1 */

/* Section - 2 */

.grid-one-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    gap: 0;
}

.grid-heading {
    text-align: center;
}

.grid-description {
    text-align: center;
}

/* Carrosel */

.carousel-container {
    position: relative;
    max-width: 60%;
    overflow: hidden;
    margin: 2px auto;
    border: 1px solid red;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    padding: 0.5rem;
}

.carousel {
    display: flex;
    width: 100%;
    gap: 1.1rem;
}



.carousel article {
    max-width: 40%;
    flex: 0 0 100%;
    border: 1px solid blue;
}

.carousel h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: black;
    color: white;
}


