/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {  
    background-color: #333;
    padding: 10px 40px;
    border-radius: 10px;
    max-width: 550px;
}

button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

button.active {
    background-color: #007bff;
}

li {
    margin-top: 15px;
}


