* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #EC268F;
    padding: 10px;
}

img#logo {
    max-width: 90px;
    display: inline-block;
}

form {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    width: 17em;
    height: 2em;
}

form input {
    position: absolute;
    width: 100%;
    height: 100%;
}

form button {
    position: absolute;
    right: 10px;
    background-color: transparent;
}

form button:hover {
    cursor: pointer;
}

form img {
    max-width: 25px;
}

div#conta {
    display: inline-block;
}

div#suporte {
    display: inline-block;
    padding-left: 10px;
    max-width: 120px;
}



div#carrinho {
    display: inline-block;
    max-width: 60px;
}

a{
    text-decoration: none;
    color: white;
}


div {
    border: 1px solid black;
}

